<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, viewport-fit=cover">
  <link rel="stylesheet" href="../styles/createNote.css">
  <title>Tachuela</title>
  <script src="../scripts/globals.js" defer></script>
  <script src="../scripts/createNote.js" defer></script>
  <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
</head>

<body>
  <div id="acceptNote" href="./views/createNote.html">
    ✅
  </div>
  <div id="create-container">
    <div class="textInputs inputFields">
      <h3 class="needed">Chci nezapomenout...</h3>
      <input type="text" id="nameInput" class="textInput" autocorrect="off" autocapitalize="off" spellcheck="false"
        maxlength="25" />
      <h3 class="">Jak to popíšu?</h3>
      <textarea id="infoInput" class="textInput textarea" cols="20" rows="5" wrap="hard" maxlength="100"
        autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
      <h3 class="wider">Opakovat</h3>
      <div class="buttons">
        <button class="repeat-btn btnSelected">Jednou</button>
        <button class="repeat-btn">Denně</button>
      </div>

    </div>

    <div class="imageInputs inputFields">
      <h3 class="needed">Hezký obrázek k tomu...</h3>
      <div class="grid-container">
        <div class="grid-item "><img src="../assets/ikony/Beh.svg" alt="Ikona Behu" class="imgSelected"></div>
        <div class="grid-item"><img src="../assets/ikony/Chleba.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Fitko.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Hory.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Jazyky.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Leky.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Maso.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Mleko.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Mic.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Kosik.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Nastroje.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Oprava.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Kniha.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Ovoce.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Psani.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Ucebnice.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Vrtacka.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Cip.svg" alt="Ikona Behu"></div>
        <div class="grid-item"><img src="../assets/ikony/Cteni.svg" alt="Ikona Behu"></div>
      </div>
    </div>
  </div>

</body>

</html>